In [1]:
from scipy import stats as stats

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import seaborn as sns

In [5]:
Loansdata=pd.read_csv('LoansData.csv')
Loansdata

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.00,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.00,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.00,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.00,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.00,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,30000.0,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
2496,16000.0,16000.00,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
2497,10000.0,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
2498,6000.0,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
2499,9000.0,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

In [6]:
Loansdata.shape

(2500, 14)

In [7]:
Loansdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2499 non-null   float64
 1   Amount.Funded.By.Investors      2499 non-null   float64
 2   Interest.Rate                   2498 non-null   object
 3   Loan.Length                     2500 non-null   object
 4   Loan.Purpose                    2500 non-null   object
 5   Debt.To.Income.Ratio            2499 non-null   object
 6   State                           2500 non-null   object
 7   Home.Ownership                  2499 non-null   object
 8   Monthly.Income                  2499 non-null   float64
 9   FICO.Range                      2498 non-null   object
 10  Open.CREDIT.Lines               2497 non-null   float64
 11  Revolving.CREDIT.Balance        2497 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2497 non-null   float64
 13  Employment.Length               2423 non-null   object
dtypes: float64(6), object(8)
memory usage: 273.6+ KB

In [8]:
Loansdata.columns=[i.replace('.','_') for i in Loansdata.columns]
Loansdata

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length
0,20000.0,20000.00,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.00,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.00,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.00,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.00,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,30000.0,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
2496,16000.0,16000.00,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
2497,10000.0,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
2498,6000.0,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
2499,9000.0,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

In [9]:
Loansdata.Interest_Rate=Loansdata.Interest_Rate.astype('str')
Loansdata.Interest_Rate=[i.replace('%',' ') for i in Loansdata.Interest_Rate]

In [10]:
Loansdata.Interest_Rate=Loansdata.Interest_Rate.astype('float64')

In [11]:
Loansdata.Debt_To_Income_Ratio = Loansdata.Debt_To_Income_Ratio.astype('str')
Loansdata.Debt_To_Income_Ratio = [i.replace('%',' ') for i in Loansdata.Debt_To_Income_Ratio]

In [12]:
Loansdata.Debt_To_Income_Ratio=Loansdata.Debt_To_Income_Ratio.astype('float64')

In [13]:
Loansdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount_Requested                2499 non-null   float64
 1   Amount_Funded_By_Investors      2499 non-null   float64
 2   Interest_Rate                   2498 non-null   float64
 3   Loan_Length                     2500 non-null   object
 4   Loan_Purpose                    2500 non-null   object
 5   Debt_To_Income_Ratio            2499 non-null   float64
 6   State                           2500 non-null   object
 7   Home_Ownership                  2499 non-null   object
 8   Monthly_Income                  2499 non-null   float64
 9   FICO_Range                      2498 non-null   object
 10  Open_CREDIT_Lines               2497 non-null   float64
 11  Revolving_CREDIT_Balance        2497 non-null   float64
 12  Inquiries_in_the_Last_6_Months  2497 non-null   float64
 13  Employment_Length               2423 non-null   object
dtypes: float64(8), object(6)
memory usage: 273.6+ KB

In [14]:
Loansdata.dropna(axis=0,inplace=True)

In [15]:
Loansdata.drop_duplicates(keep='first',inplace=True)

In [16]:
Loansdata

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length
0,20000.0,20000.00,8.90,36 months,debt_consolidation,14.90,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.00,12.12,36 months,debt_consolidation,28.36,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.00,21.98,60 months,debt_consolidation,23.81,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.00,9.99,36 months,debt_consolidation,14.30,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.00,11.71,36 months,credit_card,18.78,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,30000.0,29950.00,16.77,60 months,debt_consolidation,19.23,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
2496,16000.0,16000.00,14.09,60 months,home_improvement,21.54,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
2497,10000.0,10000.00,13.99,36 months,debt_consolidation,4.89,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
2498,6000.0,6000.00,12.42,36 months,major_purchase,16.66,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
2499,9000.0,5242.75,13.79,36 months,debt_consolidation,6.76,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

## Loan Length is directly affecting the interest rate

In [17]:
Loansdata.Loan_Length=[i.replace("months","") for i in Loansdata.Loan_Length]

In [18]:
Loansdata.Loan_Length=Loansdata.Loan_Length.astype('int')

In [19]:
stats.pearsonr(Loansdata.Loan_Length,Loansdata.Interest_Rate)

(0.42505738230947654, 1.7938010673370282e-106)

#### Business Conclusion: We reject the null hypothesis . Thus concluding that, we cannot say that both the variables are independent of each other.

## Intrest rate varies for different purpose of loans

In [20]:
Loansdata.Loan_Purpose.value_counts()

debt_consolidation    1262
credit_card            430
other                  189
home_improvement       147
major_purchase         100
small_business          83
car                     50
wedding                 37
moving                  29
medical                 28
vacation                20
house                   20
educational             14
renewable_energy         4
Name: Loan_Purpose, dtype: int64

In [21]:
Loansdata.Loan_Purpose=Loansdata.Loan_Purpose.astype('str')

In [22]:
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "debt_consolidation" ] = 1
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "credit_card" ] = 2
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "home_improvement" ] = 3
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "major_purchase" ] = 4
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "small_business" ] = 5
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "car" ] = 6
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "wedding" ] = 7
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "medical" ] = 8
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "moving" ] = 9
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "vacation" ] = 10
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "house" ] = 11
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "educational" ] = 12
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "renewable_energy" ] = 13
Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "other" ] = 14

C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "debt_consolidation" ] = 1
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "credit_card" ] = 2
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "home_improvement" ] = 3
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "major_purchase" ] = 4
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "small_business" ] = 5
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "car" ] = 6
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "wedding" ] = 7
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "medical" ] = 8
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "moving" ] = 9
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "vacation" ] = 10
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "house" ] = 11
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "educational" ] = 12
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "renewable_energy" ] = 13
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\1677125043.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Loan_Purpose[Loansdata.Loan_Purpose == "other" ] = 14

In [23]:
Loansdata.Loan_Purpose=Loansdata.Loan_Purpose.astype('int64')

In [24]:
stats.f_oneway(Loansdata.Interest_Rate,Loansdata.Loan_Purpose)

F_onewayResult(statistic=7382.113583492831, pvalue=0.0)

#### Business Conclusion: Hypothesis is true. There is a direct or near to strong relation between Interest rate and Loan purpose.

## There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

In [25]:
Loansdata.Home_Ownership.value_counts()

RENT        1110
MORTGAGE    1109
OWN          189
OTHER          5
Name: Home_Ownership, dtype: int64

In [26]:
Loansdata.Home_Ownership = np.where(Loansdata.Home_Ownership=='MORTGAGE',1,np.where(Loansdata.Home_Ownership=='RENT',2,np.where(Loansdata.Home_Ownership=='OWN',3,4)))

In [27]:
Loansdata.FICO_Range[Loansdata.FICO_Range.isna()]='670-674'

C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\2015422091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.FICO_Range[Loansdata.FICO_Range.isna()]='670-674'

In [28]:
x_new=pd.DataFrame( {"first":((Loansdata.FICO_Range).str.split("-", expand = True)[0]),"second":((Loansdata.FICO_Range).str.split("-", expand = True)[1])} )

In [29]:
x_new['first']=x_new['first'].astype('float64')
x_new['second']=x_new['second'].astype('float64')

In [30]:
Loansdata['FICO_Avg_Score']=x_new['first']+ x_new['second']/2

In [31]:
stats.f_oneway(Loansdata.FICO_Avg_Score,Loansdata.Home_Ownership)

F_onewayResult(statistic=983697.4921709315, pvalue=0.0)

#### Business Conclusion: Hypothesis is true. There is a direct or near to strong relationship between Home Ownership and FICO scores.

## Interest Rate is varied for different loan amounts

In [32]:
Loansdata.Amount_Funded_By_Investors[Loansdata.Amount_Funded_By_Investors.isna()]=12002.37

C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\3887047196.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Amount_Funded_By_Investors[Loansdata.Amount_Funded_By_Investors.isna()]=12002.37

In [33]:
Loansdata.Interest_Rate[Loansdata.Interest_Rate.isna()]=13.06

C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\3775180587.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loansdata.Interest_Rate[Loansdata.Interest_Rate.isna()]=13.06

In [34]:
stats.pearsonr(Loansdata.Amount_Funded_By_Investors,Loansdata.Interest_Rate)

(0.33159553110364515, 5.064256950483673e-63)

#### Business Conditon: We reject the null hypothesis. We cant say that both the variables Interest Rate and Amount funded by investors are independent of each other.

# Business Problem 2

In [35]:
price_quotes=pd.read_csv('Price_Quotes.csv')
price_quotes

    Order_Number  Barry_Price  Mary_Price
0              1          126         114
1              2          110         118
2              3          138         114
3              4          142         111
4              5          146         129
5              6          136         119
6              7           94          97
7              8          103         104
8              9          140         127
9             10          152         133
10            11          108         103
11            12           97         108

In [36]:
price_quotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order_Number  12 non-null     int64
 1   Barry_Price   12 non-null     int64
 2   Mary_Price    12 non-null     int64
dtypes: int64(3)
memory usage: 416.0 bytes

In [37]:
price_quotes.shape

(12, 3)

In [38]:
stats.ttest_rel( price_quotes.Barry_Price , price_quotes.Mary_Price )

Ttest_relResult(statistic=2.521376510892349, pvalue=0.02840588045242053)

#### Business Conclusion : We reject the null hypothesis. Thus, concluding that  price quotes are different.

# Business Problem 3

In [39]:
treatment_facility=pd.read_csv('Treatment_Facility.csv')
treatment_facility

    Month Reengineer  Employee_Turnover       VAR4        VAR5
0       1      Prior             0.0000  24.390244   42.682927
1       2      Prior             6.0606  19.354839   25.806452
2       3      Prior            12.1212  35.087719  146.198830
3       4      Prior             3.3333  18.404908  110.429448
4       5      Prior            12.9032  17.964072   23.952096
5       6      Prior             9.6774  41.176471   47.058824
6       7      Prior            11.7647  13.422819    0.000000
7       8      Prior            11.4286  31.250000   25.000000
8       9      Prior            23.0769  17.241379  132.183908
9      10      Prior            15.0000  16.574586   16.574586
10     11      Prior            10.0000   5.917160   88.757396
11     12      Prior            26.0870  21.164021   31.746032
12     13      Prior            11.1111   5.076142   10.152284
13     14       Post            26.6667   9.708738   29.126214
14     15       Post            17.9487   4.201681   21.008403
15     16       Post            12.8205  13.043478   34.782609
16     17       Post            15.7895   9.950249   19.900498
17     18       Post             0.0000   9.950249    9.950249
18     19       Post            30.7692   8.510638   25.531915
19     20       Post            26.8293   9.259259   23.148148

In [40]:
treatment_facility.rename({'VAR4':'TRFF','VAR5':'CI'},axis=1,inplace=True)

In [41]:
treatment_facility

    Month Reengineer  Employee_Turnover       TRFF          CI
0       1      Prior             0.0000  24.390244   42.682927
1       2      Prior             6.0606  19.354839   25.806452
2       3      Prior            12.1212  35.087719  146.198830
3       4      Prior             3.3333  18.404908  110.429448
4       5      Prior            12.9032  17.964072   23.952096
5       6      Prior             9.6774  41.176471   47.058824
6       7      Prior            11.7647  13.422819    0.000000
7       8      Prior            11.4286  31.250000   25.000000
8       9      Prior            23.0769  17.241379  132.183908
9      10      Prior            15.0000  16.574586   16.574586
10     11      Prior            10.0000   5.917160   88.757396
11     12      Prior            26.0870  21.164021   31.746032
12     13      Prior            11.1111   5.076142   10.152284
13     14       Post            26.6667   9.708738   29.126214
14     15       Post            17.9487   4.201681   21.008403
15     16       Post            12.8205  13.043478   34.782609
16     17       Post            15.7895   9.950249   19.900498
17     18       Post             0.0000   9.950249    9.950249
18     19       Post            30.7692   8.510638   25.531915
19     20       Post            26.8293   9.259259   23.148148

In [42]:
treatment_facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Month              20 non-null     int64
 1   Reengineer         20 non-null     object
 2   Employee_Turnover  20 non-null     float64
 3   TRFF               20 non-null     float64
 4   CI                 20 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 928.0+ bytes

In [43]:
treatment_fac_prior=treatment_facility[treatment_facility.Reengineer=='Prior']
treatment_fac_post=treatment_facility[treatment_facility.Reengineer=='Post']

In [44]:
print(treatment_fac_prior.Employee_Turnover.mean())
print(treatment_fac_post.Employee_Turnover.mean())

11.735692307692307
18.68912857142857

#### As we can see that, before re-engineering efforts,the avg employee turnover is less than post so we can say that re-engineering effects have negative effect on employee turnover.

In [45]:
print(treatment_fac_prior.CI.mean())
print(treatment_fac_post.CI.mean())

53.887906321846145
23.34971927988571

#### As we can see that, before re-engineering effort the avg CI is more , so we can say that re-engineering effect has a positive on critical incident rate as it improved ( CI rate decreased).

# Business Problem 4

In [46]:
priority_assessment=pd.read_csv('Priority_Assessment.csv')
priority_assessment

     Days Priority
0     3.3     High
1     7.9   Medium
2     0.3     High
3     0.7   Medium
4     8.6   Medium
..    ...      ...
637   2.5      Low
638   0.3     High
639   0.3   Medium
640   1.3   Medium
641   0.5     High

[642 rows x 2 columns]

In [47]:
priority_assessment.groupby('Priority').agg(avg=('Days','mean'))

               avg
Priority
High      3.023620
Low       4.228358
Medium    2.500000

#### Hypothesis is wrong ,as high priority jobs take more time as compared to medium priority.

# Business Problem 5

In [48]:
films=pd.read_csv('Films.csv')
films

,_rowstate_,Movie,Gender,Marital_Status,Sinage,Parking,Clean,Overall,Age,Income,Hear_About
0,0,Ferris Buellers Day Off,Female,Married,2.0,2.0,2.0,2.0,3.0,1.0,5
1,0,Ferris Buellers Day Off,Female,Single,1.0,1.0,1.0,1.0,2.0,1.0,5
2,0,Ferris Buellers Day Off,Male,Married,2.0,4.0,3.0,2.0,4.0,1.0,5
3,0,Ferris Buellers Day Off,Female,Married,1.0,3.0,2.0,2.0,4.0,1.0,5
4,0,Ferris Buellers Day Off,Female,Married,1.0,1.0,1.0,1.0,3.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...
325,0,Old School,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1
326,0,Old School,1,1,2.0,2.0,2.0,2.0,3.0,3.0,5
327,0,Old School,2,1,2.0,1.0,1.0,2.0,2.0,2.0,5
328,0,Old School,1,1,1.0,1.0,1.0,1.0,2.0,1.0,3
329,0,Old School,2,2,2.0,2.0,3.0,1.0,2.0,1.0,5

In [49]:
films.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _rowstate_      330 non-null    int64
 1   Movie           330 non-null    object
 2   Gender          330 non-null    object
 3   Marital_Status  328 non-null    object
 4   Sinage          328 non-null    float64
 5   Parking         328 non-null    float64
 6   Clean           327 non-null    float64
 7   Overall         328 non-null    float64
 8   Age             328 non-null    float64
 9   Income          314 non-null    float64
 10  Hear_About      323 non-null    object
dtypes: float64(6), int64(1), object(4)
memory usage: 28.5+ KB

### What isthe overall level of customer satisfaction

In [50]:
films.Overall.mode()

0    2.0
Name: Overall, dtype: float64

### What factors are linked to satisfaction

In [51]:
print(films.Parking[films.Sinage==1].count())
print(films.Parking[films.Parking==1].count())
print(films.Parking[films.Clean==1].count())


#The factor which is linked to more satisfaction is clean.

113
135
144

### What is the demographic profile of Film on the Rocks patrons

In [52]:
films.Gender[films.Gender=='Male']='1'
films.Gender[films.Gender=='Female']='2'

C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\3230860267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films.Gender[films.Gender=='Male']='1'
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\3230860267.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films.Gender[films.Gender=='Female']='2'

In [53]:
films.Gender.value_counts()

2    213
1    117
Name: Gender, dtype: int64

In [54]:
films.Marital_Status[films.Marital_Status=='Married']='1'
films.Marital_Status[films.Marital_Status=='Single']='2'
films.Marital_Status[films.Marital_Status=='Slngle']='2'

C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\215569522.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films.Marital_Status[films.Marital_Status=='Married']='1'
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\215569522.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films.Marital_Status[films.Marital_Status=='Single']='2'
C:\Users\Teaswani Sharma\AppData\Local\Temp\ipykernel_688\215569522.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films.Marital_Status[films.Marital_Status=='Slngle']='2'

In [55]:
films.Marital_Status.value_counts()

2    228
1    100
Name: Marital_Status, dtype: int64

In [56]:
films.Movie.value_counts()

Willy Wonka                161
Ferris Buellers Day Off    137
Old School                  32
Name: Movie, dtype: int64

In [70]:
films_Willy_Wonka=films[films.Movie =='Willy Wonka']
films_Ferris_Buellers_Day_Off=[films.Movie =='Ferris Buellers Day Off']
films_Old_School=[films.Movie =='Old_School']

In [71]:
#for Willy Wonka


print(films_Willy_Wonka.Gender.mode())
print(films_Willy_Wonka.Marital_Status.mode())
print(films_Willy_Wonka.Age.mode())
print(films_Willy_Wonka.Income.mode())

0    2
Name: Gender, dtype: object
0    2
Name: Marital_Status, dtype: object
0    2.0
Name: Age, dtype: float64
0    1.0
Name: Income, dtype: float64

In [72]:
#for Ferris Buellers Day Off

print(films_Ferris_Buellers_Day_Off.Gender.mode())
print(films_Ferris_Buellers_Day_Off.Marital_Status.mode())
print(films_Ferris_Buellers_Day_Off.Age.mode())
print(films_Ferris_Buellers_Day_Off.Income.mode())

AttributeError: 'list' object has no attribute 'Gender'

In [73]:
#for old school



print(films_Old_School.Gender.mode())
print(films_Old_School.Marital_Status.mode())
print(films_Old_School.Age.mode())
print(films_Old_School.Income.mode())

AttributeError: 'list' object has no attribute 'Gender'

### for all films the demograhic is  watched by female mostly, of marital status single.

## In what media outlet(s) should the film series be advertised

In [74]:
films.Hear_About.value_counts()

5      226
4       41
1       22
3       14
2       12
2,5      2
3,4      2
4,5      1
1,5      1
5,4      1
3,5      1
Name: Hear_About, dtype: int64

### media outlet(s) should the film series to be advertised should be 1st perference need to be given to (word of mouth) and 
second should be given to website.